nav {
  position: relative;
  z-index: 1;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}
nav ul li button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-family: "Inter";
  font-weight: 1000;
  font-size: 30px;
  list-style: 40px;
  color: #5C5B66;
  transition: color 0.25s;
}
nav ul li.active button {
  color: #ff00f2;
}
nav ul li:not(.active):hover button {
  color: #f8b2dd;
}
nav .active-element {
  --active-element-scale-x: 1;
  --active-element-scale-y: 1;
  --active-element-show: 0;
  --active-element-opacity: 0;
  --active-element-width: 10px;
  --active-element-strike-x: 0%;
  --active-element-mask-position: 0%;
  position: absolute;
  left: 0;
  top: 50px;
  height: 8px;
  width: 36px;
  border-radius: 5px;
  background-color: #ff00f2;
  opacity: var(--active-element-show);
}
nav .active-element > svg,
nav .active-element .strike {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: var(--active-element-opacity);
  width: var(--active-element-width);
  mix-blend-mode: multiply;
}
nav .active-element > svg {
  display: block;
  overflow: visible;
  height: 14px;
  filter: blur(0.5px) drop-shadow(2px 0px 8px rgba(162, 0, 255, 0.4)) drop-shadow(1px 0px 2px rgba(255, 0, 191, 0.8)) drop-shadow(0px 0px 3px rgba(252, 6, 199, 0.4)) drop-shadow(2px 0px 8px rgba(255, 2, 179, 0.45)) drop-shadow(8px 0px 16px rgba(191, 3, 248, 0.5));
}
nav .active-element .strike {
  padding: 24px 0;
  -webkit-mask-image: linear-gradient(to right, transparent calc(0% + var(--active-element-mask-position)), black calc(15% + var(--active-element-mask-position)), black 80%, transparent);
  mask-image: linear-gradient(to right, transparent calc(0% + var(--active-element-mask-position)), black calc(15% + var(--active-element-mask-position)), black 80%, transparent);
}
nav .active-element .strike svg {
  display: block;
  overflow: visible;
  height: 12px;
  width: calc(var(--active-element-width) * 2);
  transform: translate(var(--active-element-strike-x), 30%) scale(var(--active-element-scale-x), var(--active-element-scale-y));
}
nav .active-element .strike svg:last-child {
  transform: translate(var(--active-element-strike-x), -30%) scale(-1);
}
nav .active-element .strike svg g path:nth-child(2) {
  filter: blur(2px);
}
nav .active-element .strike svg g path:nth-child(3) {
  filter: blur(4px);
}
nav.before .active-element {
  transform: rotateY(180deg);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2f;
  position: relative;
  overflow: hidden;
}
body:before {
  content: "";
  position: absolute;
  inset: 40% -60% 0 -60%;
  background-image: #2f2f2f;
  opacity: 0.3;
  pointer-events: none;
}
body .twitter {
  position: fixed;
  display: block;
  right: 12px;
  bottom: 12px;
}
body .twitter svg {
  width: 32px;
  height: 32px;
  fill: #fff;
}